:root {--text-color: #000;
--hero-text: #fff;
--title:#212121;
--background-color: #fff;
--background-secondary: #E5E5E5;
--brand-color:#2196F3; 
--button-color:#F5F4FA;
--secondary-text: #757575;
--hero-footer-bg: #2F303A;}
/* outline: 2px solid tomato; */
html {box-sizing: border-box;}
*,
*::before,
*::after {box-sizing: inherit;}
body {
font-family: 'Roboto', sans-serif;
background-color: var(--background-color);
color: var(--text-color);
}
h1,h2,h3,h4,h5,h6,p,ul{
margin-top: 0;
margin-bottom: 0;
padding-left: 0;}
li {list-style: none;}
.container{width: 1200px;
padding-left: 15px;
padding-right: 15px;
/* cheking container border */
outline: 2px solid tomato;
}
/* <--Header--> */
.header{max-width: 1600px; }
.header.container {display: flex;
background-color: var(--background-color);}
.header-nav{display: flex;
align-items: center;
justify-content: flex-start;}
/* logo */
.logo {
padding-top: 24px;
padding-bottom: 25px;

font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--text-color);
text-decoration: none;}
.style-web {color: var(--brand-color);}
/* Main menu nav */
.menu {display: flex;
margin-left: 93px;

font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;}
.menu>.links-item:not(:last-child),
.contacts>.links-item:not(:last-child)
{margin-right: 50px;}
.link-current, .link {display: block;
padding-top: 32px;
padding-bottom: 32px;}
.link {
text-decoration: none;
color: var(--text-color);}
.link:hover,
.link:focus {color: var(--brand-color);}
.link-current{color: var(--brand-color);
text-decoration: none;}
/* contacts */
.contacts {
display: flex;
margin-left: 331px;
padding: 32px 0px 32px;
}
.link-mail:hover, .link-mail:focus,
.link-tel:hover, .link-tel:focus 
{color: var(--brand-color);}
.link-mail, .link-tel{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--secondary-text);
text-decoration: none;}

/* <--Main content--> */
.section{padding-top: 94px;
padding-bottom: 94px;}

/* <--Hero section--> */
.hero.section{padding-top: 0;}
.hero.container{
background-color: var(--hero-footer-bg);
text-align: center;}
.hero-text{text-align: center;
padding-top: 200px;
padding-bottom: 30px;

color: var(--button-color);
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;}
/* button order*/
.button {
padding: 10px 32px;
margin-bottom: 200px;
text-align: center;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;
background: var(--button-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border: transparent;
}
.button:hover,
.button:focus {background: #188CE8;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
background-color: var(--brand-color);
color: var(--hero-text); cursor: pointer;}

/* Feature */
.hiden {opacity: 0;}
.feature.section{padding-top: 0px;}
.feature-list{display:flex;}
.feature-list>.feature-item:not(:last-child) 
{margin-right: 30px;}
/* Feature text */
.feature-item{width: 270px;}
.title{ padding-bottom: 10px;
font-family: 'Roboto';
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--title);}
.text{font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color:var(--secondary-text);}

/* <--What-we-do--> */
.project.section{padding-top: 0;}
.section-title, .team-title {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: var(--title);}
.project-list{display: flex;
padding-top: 50px;}
.project-list>.project-item:not(:last-child) 
{margin-right: 30px;}

/* Our team */
.team.section {padding-top: 0;
padding-bottom: 0;}
.team.container {background-color: var(--button-color);}
.team-title{padding-top: 94px;}
.team-list{display: flex;
padding-top: 50px;}
.team-list>.team-item:not(:last-child) 
{margin-right: 30px;}
.team-item{margin-bottom: 94px;
background-color: var(--background-color);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
0px 1px 1px rgba(0, 0, 0, 0.14), 
0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
.team-img{padding-bottom: 30px;
border-radius: 0px;}
.name-title {padding-bottom: 10px;
font-weight: 500;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: var(--title);
}
.position-text {padding-bottom: 30px;
font-size: 14px;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--secondary-text);
text-align: center;

}

/* footer */
.footer.container
{background-color: var(--hero-footer-bg);}

.footer .logo{display: inline-block;
padding-top: 60px;

color: var(--hero-text);
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--hero-text);
text-decoration: none;}
/* address */
.address-footer{
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
}
.address-list{padding-bottom: 60px;}
.address-list>.address-item:not(:last-child) {
        margin-bottom: 9px;}
.address-mail:hover,
.address-mail:focus,
.address-tel:hover,
.address-tel:focus
{color: var(--brand-color);
}
.address-map, 
.address-mail, 
.address-tel{color: var(--hero-text);
text-decoration: none;
font-style: normal;
}
.address-mail,
.address-tel{color: rgba(255, 255, 255, 0.6);
}
        /* PORTFOLIO */

.header.line {
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #ECECEC;
}
/* filters */
.filter {display: inline-block;
padding-bottom: 34px;
margin-top: 90px;
text-align: center;
}
.filter .filter-button,
.current-button {
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;
}
.current-button,
.filter-button {
background: var(--button-color);
display: inline-block;
padding: 6px 22px;
text-align: center;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
0px 1px 2px rgba(0, 0, 0, 0.08),
0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
border: transparent;
}
.filter-button{border-color: var(--button-color);}
.filter-button:hover,
.filter-button:focus {
background-color: var(--brand-color);
color: var(--hero-text);
cursor: pointer;
}
.filter-item .current-button {
background-color: var(--brand-color);
color: var(--hero-text);
cursor: pointer;
}

/* portfolio-list */
.portfolio-list{padding-bottom: 90px;}
.portfolio-item{
display: inline-block;
background: #FFFFFF;
border: 1px solid #EEEEEE;
box-sizing: border-box;
}
.portfolio-img{padding-bottom: 20px;}
.portfolio-title {padding-bottom: 4px;
font-weight: 700;
font-size: 18px;
line-height: 2.0;
letter-spacing: 0.06em;
color: var(--title);
}
.portfolio-text{padding-bottom: 20px;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
color: var(--secondary-text);
}
.portfolio-title, .portfolio-text{
padding-right: 24px;
padding-left: 24px;}
