:root {--text-color: #000;
--hero-text: #fff;
--title:#212121;
--background-color: #fff;
--background-secondary: #E5E5E5;
--brand-color:#2196F3; 
--button-color:#F5F4FA;
--secondary-text: #757575;
--hero-footer-bg: #2F303A;}

body {
font-family: 'Roboto', sans-serif;
background-color: var(--background-color);
color: var(--text-color);
}
/* <--Header--> */
.header {
background-color: var(--background-color);
}
.logo {
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--text-color);
text-decoration: none;}
.style-web {color: var(--brand-color);}
li {list-style: none;}
.links {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}

.link {text-decoration: none;
color: var(--text-color);}
.link:hover,
.link:focus {color: var(--brand-color);}
.link-current{
color: var(--brand-color);
text-decoration: none;
}
.link-mail:hover,
.link-mail:focus,
.link-tel:hover,
.link-tel:focus {color: var(--brand-color);}
.link-mail, .link-tel{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--secondary-text);
text-decoration: none;}

/* <--Main--> */
.main {background-color: var(--hero-footer-bg);}
/* <--Hero--> */
.hero-text{
color: var(--button-color);
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;}
/* bg */
.button {
font-weight: 700;
font-size: 16px;
line-height: 1.88;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
background: var(--button-color);
/* box-shadow: 0px, 4px, 4px, rgba(0, 0, 0, 0.15);
border-radius: 4px; */
}
.button:hover,
.button:focus {background-color: var(--brand-color);
color: var(--hero-text); cursor: pointer;}
/* Feature */
.hiden {opacity: 0;}
.title{
font-family: 'Roboto';
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--title);
}
.text{
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color:var(--secondary-text);
}
/* <--What-we-do--> */
.section-title {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: var(--title);
}
/* Our team */
.team {background-color: var(--button-color);}
.team-item{background-color: var(--background-color);}
.name-title {
font-weight: 500;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: var(--title);}
.position-text {
font-size: 14px;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--secondary-text);
text-align: center;
}

/* footer */
.footer{background-color: var(--hero-footer-bg);}
.footer .logo{
color: var(--hero-text);
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--hero-text);
text-decoration: none;}
/* address */
.address-footer{
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
}
.address-mail:hover,
.address-mail:focus,
.address-tel:hover,
.address-tel:focus
{color: var(--brand-color);
}
.address-map, 
.address-mail, 
.address-tel{color: var(--hero-text);
text-decoration: none;
font-style: normal;
}
.address-mail,
.address-tel{color: rgba(255, 255, 255, 0.6);
}
        /* PORTFOLIO */


/* filters */
.filter {
text-align: center;
}
.filter .filter-button,
.current-button {
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;
}
.filter-button {
background: var(--button-color);
/* box-shadow: 0px, 4px, 4px, rgba(0, 0, 0, 0.15);
border-radius: 4px; */

}

.filter-button:hover,
.filter-button:focus {
background-color: var(--brand-color);
color: var(--hero-text);
cursor: pointer;
}
.filter-item .current-button {
background-color: var(--brand-color);
color: var(--hero-text);
cursor: pointer;
}

/* portfolio-list */

.portfolio-item{

background: #FFFFFF;
border: 1px solid #EEEEEE;
box-sizing: border-box;
}

.portfolio-title {
font-weight: 700;
font-size: 18px;
line-height: 2.0;
letter-spacing: 0.06em;
color: var(--title);
}
.portfolio-text{font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
color: var(--secondary-text);
}
